@*@model IEnumerable<Restaurant.Models.EmployeeViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="button" style="margin-top:15px;margin-bottom:15px" class="btn btn-default" value="Add Employee" onclick="location.href='@Url.Action("Create")'" />

<table id="myCustomTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonDetails.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonDetails.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonDetails.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Function)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonDetails.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonDetails.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonDetails.AddressDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonDetails.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonDetails.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonDetails.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Function)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonDetails.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonDetails.Email)
        </td>
        <td>
            @Html.Raw(item.PersonDetails.AddressDetails.GetFullAddress())
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td style="width:250px">
            <input type="button" style="margin-top:5px;margin-bottom:5px" class="btn btn-default" value="Edit" onclick="location.href='@Url.Action("Edit", new { id = item.ID })'" />
            <input type="button" style="margin-top:5px;margin-bottom:5px" class="btn btn-default" value="Details" onclick="location.href='@Url.Action("Details", new { id = item.ID })'" />
            <input type="button" style="margin-top:5px;margin-bottom:5px" class="btn btn-default" value="Delete" onclick="location.href='@Url.Action("Delete", new { id = item.ID })'" />
        </td>
    </tr>
}

</table>
<div class="grid-container">
    <img class="galery" src="@Url.Action("GetImage", "Image", new { id = 1 })" />
    <img class="galery " src="@Url.Action("GetImage", "Image", new { id = 2 })" />
    <img class="galery" src="@Url.Action("GetImage", "Image", new { id = 3 })" />
</div>*@
